<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group02.dao.DaoHangFuDao">

    <!--
        * id： methodTow
        * 功能：  DemoMapper方法模板
        * 时间：  最后一次操作时间
        * codeBy：  操作人名
        * @return String
    -->
<!--    <select id="methodTow" >-->


<!--    </select>-->

<!--
    * id： seleteT_DaoHangFuAll
    * 功能：  查询t_DaoHangFu所有数据
    * 时间：  6.9
    * codeBy：  韩兆淇
    * @return List<t_DaoHangFu>
-->
    <select id="seleteDaoHangFuAll" resultType="DaoHangFu">
        select * from t_DaoHangFu
    </select>

</mapper>
